@import '../../../styles/vars.scss';
.calendar-card{
    .column {
        border-top: 1px solid white;
        border: 1px solid white;
        // border-left: 1px solid white;
        padding-left: 0px !important;
        padding-right: 0px !important;
        &:last-child{
            border-right: 1px solid white;
        }
      }
}
p {
    font-size: 14px;
    &:hover{
        cursor: pointer;
    }
    &.public {
        color: #FCEED1;
    }
    &.folk {
        color: white;
    }
}
.date-header {
    border-bottom: 1px solid white;
}
.day-header {
    font-size: 12px;
    color: white;
}
.date-card {
    min-height: 200px;
}
.date {
    margin-bottom: 10px;
    font-size: 12px;
}
.day {
    margin-top: 20px;
    font-size: 12px;
    margin-bottom: 2px;
    text-transform: uppercase;
}
.date-content {
    margin-top: 20px;
    font-size: 18px;
}
.app-container  {
    height: 200px;
}
.day-nav {
    float: right;
    display: flex;
    .desc-span {
        margin-right: 10px;
        font-size: 14px;
    }
    margin-bottom: 10px;
}
.cal-nav {
    margin-top: 10px;
}

@media (max-width: #{$sm}){  
    .app-container {
        margin-top: 10px;
    }
    .day-nav {
        float: left;
        margin-top: 10px;
    }
    .calendar-card{
        .column {
            border: 1px solid white;
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
    }
}
